*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
}





h1,h2,h3,h4{
  font-family: 'Poppins', sans-serif;
}
/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ffffff;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #42AFB2;
  width: 0%;
}
/*#progress-wave{
  width: 8px;
  height: 8px;
  background-color: red;
}*/
/**/

li{
    list-style-type: none;
    margin:0;
    padding: 17px;
    font-size: 3vh;
}
a{
  text-decoration: none;
  color: black;
  padding: 2vw;
}
a:hover{
  color: #42AFB2;
}
#navbar{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
#mar-logo{
  list-style-type: none;
  margin: 0;
  padding: 17px;
  font-size: 3vh;
}
@media (max-width: 768px){
  #navbar{
    flex-direction: column;
    height: 20vh;
  }
  #mar-logo{
    padding-bottom: 0px;
  }
  .nav-list li{
    padding-top: 0px;
  }
}
.text-mar{
  margin-top: 20vh;
}
#mar-logo:hover{
  transition: 1s ease;
  display: block;
  color: #888888;
 }
}

.space-progressbar{
  height: 10vh;
  z-index: -99999;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  .text-button {
    background-color: black;
    color: #FFF4EF;
    padding: 20px 20px;
    display: block;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .text-button:hover{
    background-color: #FFF4EF;
    color:black;
  }
@media(max-width: 768px){
  .space-progressbar{
    height: 20vh;
  }
  .mar-skill ul{
    display: block;
  }
  .skill1{
    margin-bottom: 10vh;
  }
  .text-button{
    margin: 0px;
  }
}

.space-progressbar-new{
  height: 10vh;
  z-index: -99999;
}
@media (max-width: 500px) {
 
 button{
   /*makes the button visible*/
   display: block;
   
   /*since we are here, we can style it a little bit!*/
   padding: 2vw;
   font-size: 3vh;
   background-color: #AFE0FF;
   border: none;
   
   /*outline none removes the default blue border that appears anytime you click on the button*/
   outline: none;
   
   cursor: pointer;
 }
}

#img-first{
  width: 100%;
  z-index: -1;
  position: absolute;
}

.text-presentation{
  text-align: center;
}
.text-subtitle{
  width: 500px;
  margin-bottom: 40px;
}
.text-mar{
  font-size: larger;
  margin: 0px;
}

@media (max-width: 768px){
.text-mar{
  margin-top: 20vh;
 }
 .text-presentation{
   width: 90%;
 }
 .text-Iam{
  font-size: 70px;
 }
}
h2{
  font-size: 80px;
  margin: 0px;
}
h3 {
  font-size: 20px;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

p{
  font-size: 20px;
  margin: 40px 0px 0px 0px;
}

.img-arrow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 3%;
  position: absolute;
  bottom: 2vh;
  margin-top: 20px;
}
#index{
  position: relative;
  margin-bottom: 0px;
  height: 100vh;
  background-image: url("./img/img-index-header.png");
  /*background-image: url(./img/ivan-bandura-2FEE6BR343k-unsplash.jpg);*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
}

#quote{
  text-align: center;
  background-color: white;
  padding: 60px;
}
.p-quote{
  margin-top: 0px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: 'Montserrat', sans-serif;
}
.p-author{
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}
#about{
  position: relative;
  
  background-image: url(./img/backgroundocean-about.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}
.about-title{
  color: white;
}
.content-about{
  align-content: flex-start;
  display: flex;
}

@media (max-width: 768px){
  .content-about{
    flex-direction: column;
   }
}


.img-me{
  width: 35%;
  height: auto;
  padding:40px 20px 0px 40px;
  align-self: flex-start;
}
@media(max-width:768px){
  .img-me{
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 0px 20px;
    width: 70%;
  }
}
.line-title{
  width: 100px;
  height: 5px;
  background: white;
}
.line-titleblack{
  width: 100px;
  height: 5px;
  background: black;
  margin: ;
}
.text-about{
  color: white;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-resume{
  background-color: white;
  color: black;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px auto;
  margin-left: 0vh;
  font-size: 20px;
  font-weight: 700;
}
@media(max-width:768px){
  .text-about{
    margin-top: 0px;
  }
  .text-about p{
    text-align: center;
  }
  .a-resume{
    margin: 30px auto 0px auto;
  }
}
#skills{
  background-color:#00506D;
}
#skills p{
  padding: 20px 0px;
}
.img-project{
  height: 100%; 
  object-fit: contain; 
}
.img-yogui{
  position: absolute;
  margin-left: 90vh;
  margin-top: 10vh;
  width: 50vh;
}
.skills-title{
  color: white;
}
.skill-art{
  color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.css-logo{
  height: 146,8px;
}
ul{
  list-style: none;
}
.skill-li{
  width: 25%;
}
@media(max-width:768px){
  .skill-li{
    width: 90%;
 }
}
.hard-skills img {
  width: 10vh;
 
}
.skills-ordercolumn{
  display: contents;
}
@media(max-width:768px){
  .skills-ordercolumn{
    display: block;
  }
}
.hard-skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0199A9;
  padding: 50px;
}
.h4-skills{
  text-align: center;
}
#sketch-img{
  height: 82.09px;
}
.project-title{
  background-color: white;
}
.titles{
  padding: 20px;
}
.title-project{
  padding: 0px 20px 0px 20px;
}
.yamiapp{
  display: flex;
  height: 80vh;
}
.funyoga{
  display: flex;
  /*background-color: #BECFD0;*/
  height: 80vh;
  align-items: center;
}
.funyoga:hover{
  background-color: rgb(101, 138, 139);
}

.whatspoll{
  display: flex;
  height: 80vh;
}

.img-class{
  width:auto; 
  text-align:center; 
  padding:20px;
}
.button-casestudy{
  background-color: #00506D;
  color: white;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 500;
}
.button-casestudy:hover{
  background-color: rgb(0, 54, 73);
  color: white;
}
.info-project{
  display: flex;
  flex-direction: column;

}
.info-project p{
  margin: 30px;
}
.info-casestudy{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 6vh 45px;
  align-items: center;
}
.article-text{
  height: 50%;
}
footer{
  display:flex;
  justify-content: space-between;
  text-align: center;
  height: 12vh;
  align-items: center;
  box-shadow: 5px 14px 10px 10px #888888;
  background-color: white;
}
.title-footer{
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-in{
  margin: 0px;
}
.coded{
  margin: 0px 10px;
}
@media(max-width:768px){
  footer{
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .title-footer{
    margin: 10px 0 20px 0;
  }
  .links.art{
    margin: 10px;
  }
  .coded{
    margin: 20px;
  }
}
a{
  padding: 0px;
}
.rectangle-footer{
  width: 100px;
  height: 3px;
  background: black;
  margin-bottom: 10px;
  
}
.about-art{
  margin-right: -200px;
}
h4{
  text-transform: uppercase;
  padding: 10px 0px;
}
h3{
  font-size: 90px;
  font-weight: bold;
  line-height: 51px;
  margin-bottom: 20px;
}
.h3-project{
  font-weight: 600;
  line-height: initial;
  font-size: 70px;
}
.line-vertical{
  width: 2px;
  height: 70px;
  background-color: black;
  margin: 10px 30px;

}
.description-project{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: ;
  margin-bottom: 15px;
}
.text-about p{
  margin-top: 10px;
}
.medium-icon{
cursor: pointer;
}
.linkedin-icon{
cursor: pointer;
}
#icon-ubi{
  width: 5vh;
}
.p-ubi{
  margin: 0px 10px;
}
.div-contact{
  width: 2px;
  height: 70px;
  background-color: black;
  margin: 10px 30px;
}
.contact-section{
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  align-items: flex-end;
}
@media(max-width:768px){
  .div-contact{
    display: none;
  }
  .contact-section{
    flex-direction: column;
  }
  .contact-section-article{
    margin: 20px;
  }
}
#contact h3{
  font-size: xx-large;
}
#contact{
  background-color: #FFF4EF;
}
.img-h3{
  display: flex;
  justify-content: center;
}
.linkedin-img{
  align-items: baseline;
}
/*
*/
.contact-section a{
  display: flex;
  justify-content: center;
}
.contact-section a:hover{
  text-decoration: none;
  color: #42AFB2;
  /*font-family: 'Libre Baskerville', serif;*/
  font-size: ;
  box-shadow: inset 0 -0.6rem 0 #FFF4EF;
} 

.contact-section-a{
  display: flex;
  justify-content: center;
  margin: 0px;
  font-size: initial;
}
.contact-img{
  width: 10%;
  margin: 10px;
}
.ubi{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.link {
  text-decoration: none;
  color: #1A1917;
  /*font-family: 'Libre Baskerville', serif;*/
  font-size: ;
  box-shadow: inset 0 -0.6rem 0 #42AFB2;
}
.link:hover {
  text-decoration: none;
  color: #42AFB2;
  /*font-family: 'Libre Baskerville', serif;*/
  font-size: ;
  box-shadow: inset 0 -0.6rem 0 #ffffff;
}
.p-footer{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

#whatsapp{
  position: relative;
  margin-bottom: 0px;
  background-image: url("./img/imgproject.png");
  /*background-image: url(./img/ivan-bandura-2FEE6BR343k-unsplash.jpg);*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
}


  /*-------------------*/
  /*-------------------*/
  /*-------------------*/
  /*-------------------*/
  /*-------------------*/
  /*CSS CASE STUDY WHATSAPP*/
.img-whats{
 width: 100%;
 height: 90vh;
}
.index{
  position: relative;
  margin-bottom: 0px;
  height: 100vh;
  /*background-image: url(./img/whatsmockup.png);
  background-color: #075E54;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 40%;*/
  background-color: #075E54;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*background: rgba(0, 255, 255, 0.1);*/}
  .img-index-whats{
    width: 36%;
    position: absolute;
    margin-left: 57vh;
    margin-top: 5vh;
    width: 70%;
    font-size: 60px;
  }
.index-title-img{
  display: contents;
}
.h1-whats{
  margin-left: 5vh;
  left: 1px;
  position: absolute;
  top: 23%;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 20vh;
  color: white;
}
#intro-whats{
  font-size: 60px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.h2-intro-whats{
    width: 70%;
    font-size: 60px;
  }
}



#intro{
  background-color: #FFF4EF;
}
#overview{

}
#Whatsapp{
background-color: #42AFB2;
background: rgba(255, 0, 161, .8) fixed, url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg) fixed;
background-size: cover;
background: ;
}
}
#obj{}
#research{
background-color: #0199A9;
}
#problem{}
#insights{
background-color: #00506D ;
}
#persona{}
#testing-1{
  background-color: #01314E;
}
#testing-2{}
#nextsteps{
  background-color: #042338;
}
#next-project{}

.info-intro{
  display: flex;
  justify-content: space-around;
}
#intro-whats{
  
}
.h3-intro-whats{
  font-size: 3vh;
  margin-bottom: 0px;
}
.p-intro{
  margin-top: 0px;
}
.p-overview{
  margin: 40px;
}



  /*CSS CASE STUDY WHATSAPP*/
  /*-------------------*/
  /*-------------------*/
  /*-------------------*/
  /*-------------------*/
  /*-------------------*/




.yamiapp-prova{
  /*background: #BECFD0;*/
  width: 90%;
  height: 70vh;
  margin: 4rem auto;
  display: flex;
  color: black;
  -webkit-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  -moz-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  position: relative;
  margin-bottom: 64px;
  background-image: url("./img/backgroundyami.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.whatspoll-prova{
  /*background: #BECFD0;*/
  width: 90%;
  height: 70vh;
  margin: 4rem auto;
  display: flex;
  color: black;
  -webkit-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  -moz-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  position: relative;
  margin-bottom: 64px;
  background-image: url("./img/backgroundwhats.png");
  /*background-image: url(./img/ivan-bandura-2FEE6BR343k-unsplash.jpg);*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-attachment: fixed;*/
  background-position: center;
  
}
.funyoga-prova{
  /*background: #BECFD0;*/
  width: 90%;
  height: 70vh;
  margin: 4rem auto;
  display: flex;
  color: black;
  -webkit-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  -moz-box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  box-shadow: -2px 7px 25px -7px rgba(0,0,0,0.68);
  position: relative;
  margin-bottom: 0px;
  background-image: url("./img/Rectanglebackgroundyoga.png");
  /*background-image: url(./img/ivan-bandura-2FEE6BR343k-unsplash.jpg);*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-attachment: fixed;*/
  background-position: center;
}

.img-yami{
  height: 60vh;
  margin-top: -5vh;
  margin: auto;
}
.img-whatss{
  height: 60vh;
  margin-top: -5vh;
  margin: auto;
}
.img-yoga{
  height: 30vh;
  margin-top: -5vh;
  margin: auto;
  position: absolute;
  margin-left: 85vh;
}
.info-yami{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  /* text-align: right; */
  /* width: 50%; */
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 6vh 45px;
  align-items: center;
}
.info-whats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  /* text-align: right; */
  /* width: 50%; */
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 6vh 45px;
  align-items: center;
}






}
.info-yoga{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  /* text-align: right; */
  /* width: 50%; */
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  width: ;
}
@media(max-width:932px){
  .whatspoll-prova, .yamiapp-prova, .funyoga-prova{
    height: 86vh;
  }
  .button-casestudy-yami{
    margin: 0px;
  }
}

@media(max-width:768px){
  .yamiapp-prova{
    background-image: url(./img/backgroundyamiapp-pruevaresponsive.png);
    width: 95%;
    height: 100vh;
    position: relative;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  }
  .info-yami{
    bottom: 0vh;
    height: 80vh;
    margin: auto;
   right: auto ;  }
  .h3-project{
    font-size: 60px;
  }
  .whatspoll-prova{
    background-image: url(./img/backgroundwhats-pruevaresponsive.png);
    width: 95%;
    height: 100vh;
    position: relative;
  margin-bottom: 64px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  }
  .info-whats{
    bottom: 0vh;
    height: 80vh;
    margin: auto; 
    right: auto; }
  .h3-project{
    font-size: 60px;
  }
  .funyoga-prova{
    background-image: url(./img/backgroundyoga-pruevaresponsive.png);
    width: 95%;
    height: 100vh;
    position: relative;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  }
  .info-yoga{
    bottom: 0vh;
    height: 80vh;
    margin: auto; 
    left: auto; }
  .h3-project{
    font-size: 60px;

  }
  .info-casestudy{
    margin: auto;
    margin-top: 73px;
  }
  .info-casestudy p{
    text-align: center;
  }
}
@media(max-width:600px){
  .line-vertical{
    display: none;
  }
}
@media(max-width:444px){
  .target-label{
    font-size: 60px;
  }
  h3{
    font-size: 70px;
  }
  .h3-project{
    font-size: 45px;
    width: min-content;
  }
  .description-project{
    width: min-content;
  }
  .title-yoga{
    width: 70%;
  }
  .contact-title{
    font-size: 60px;
  }
}
@media(max-width:370px){
  .text-Iam{
    font-size: 60px;
  }
  .img-arrow{
    display: none;
  }
}
